body {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}
@font-face {
    font-family: 'ostrich_sansblack';
    src: url('../Fonts/ostrich-black-webfont.eot');
    src: url('../Fonts/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/ostrich-black-webfont.woff') format('woff'),
         url('../Fonts/ostrich-black-webfont.ttf') format('truetype'),
         url('../Fonts/ostrich-black-webfont.svg#ostrich_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ostrich_sansmedium';
    src: url('../Fonts/ostrich-regular-webfont.eot');
    src: url('../Fonts/ostrich-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/ostrich-regular-webfont.woff') format('woff'),
         url('../Fonts/ostrich-regular-webfont.ttf') format('truetype'),
         url('../Fonts/ostrich-regular-webfont.svg#ostrich_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.header {
    position: relative;
    top: 0px;
    width: 100%;
    height: 150px;    
    background-color: #eee;
}
.header-inside {
    position: relative;
    top: 0px;
    width: 950px;
    height: 150px;
    margin: 0 auto;	
}

.logo
{
	position: absolute;
	top:12px;
}

.menu {
    position: absolute;
    top: 113px;
    left: 375px;
    width: 575px;
    height: 25px;
    font-size: 24px;
    font-family: 'ostrich_sansblack';
	color: #777;
}
.selected_a{
	color:#FA8072;
	text-decoration: none;
}
.notselected_a{
	color:#777;
	text-decoration: none;
}
.notselected_a:hover{
	color:#FA8072;
	text-decoration: none;
}
.back-phone-email
{
	position:absolute;
	left: 503px;
	top: 0px;
	width: 447px;
	height: 30px;
	background-color:#87CEEB;
}

.phone_number{
	position:absolute;
	left: 27px;
	top: 3px;
	font-family: 'ostrich_sansmedium';
	font-size: 32px;
	color: #333;
}
.phone_image{
	position:absolute;
	left: 5px;
	top: 2px;
}

.envelope_image{
	position:absolute;
	left: 180px;
	top: 5px;
}

.email_address{
	position:absolute;
	left: 210px;
	top: 3px;	
}
.a_email_address{
	text-decoration:none;
	font-family: 'ostrich_sansmedium';
	font-size: 32px;
	color: #333;
}
.a_email_address:hover{
	color:#FFF;
	text-decoration: none;
}
.slider_back{
	position:relative;
	top: 30px;
}


